<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>servlet.control.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>logoutServlet</servlet-name>
    <servlet-class>servlet.control.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditUserInfo</servlet-name>
    <servlet-class>Servlet_user.EditUserInfo</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserInfo</servlet-name>
    <servlet-class>Servlet_user.AddUserInfo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditUserInfo</servlet-name>
    <url-pattern>/servlet/EditUserInfo</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddUserInfo</servlet-name>
    <url-pattern>/servlet/AddUserInfo</url-pattern>
  </servlet-mapping>
  
  <filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.imooc.page.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>SublistServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.SublistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SublistServlet</servlet-name>
    <url-pattern>/sublist/SublistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.JdbcSqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <url-pattern>/jdbcSql/JdbcSqlServlet</url-pattern>
  </servlet-mapping>
    
  <!-- 登陆验证码Kaptcha 2-->
	<servlet>
		<servlet-name>Kaptcha</servlet-name>
		<servlet-class>
			KaptchaServlet
		</servlet-class>
		<init-param>
			<description>图片边框，合法值：yes , no</description>
			<param-name>kaptcha.border</param-name>
			<param-value>yes</param-value>
		</init-param>
		<init-param>
			<description>
				边框颜色，合法值： r,g,b (and optional alpha) 或者
				white,black,blue.
			</description>
			<param-name>kaptcha.border.color</param-name>
			<param-value>black</param-value>
		</init-param>
		<init-param>
			<description>边框厚度，合法值：>0</description>
			<param-name>kaptcha.border.thickness</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<description>图片宽 200</description>
			<param-name>kaptcha.image.width</param-name>
			<param-value>200</param-value>
		</init-param>
		<init-param>
			<description>图片高 50</description>
			<param-name>kaptcha.image.height</param-name>
			<param-value>50</param-value>
		</init-param>
		<init-param>
			<description>图片实现类</description>
			<param-name>kaptcha.producer.impl</param-name>
			<param-value>
				com.google.code.kaptcha.impl.DefaultKaptcha
			</param-value>
		</init-param>
		<init-param>
			<description>文本实现类</description>
			<param-name>kaptcha.textproducer.impl</param-name>
			<param-value>
				com.google.code.kaptcha.text.impl.DefaultTextCreator
			</param-value>
		</init-param>
		<init-param>
			<description>文本集合，验证码值从此集合中获取</description>
			<param-name>kaptcha.textproducer.char.string</param-name>
			<param-value>1234567890</param-value>
			  <!--<param-value>abcde2345678gfynmnpwx</param-value>-->
			<!--<param-value>律兜法律服务平台</param-value> -->
		</init-param>
		<init-param>
			<description>验证码长度 5</description>
			<param-name>kaptcha.textproducer.char.length</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<description>字体 Arial, Courier</description>
			<param-name>kaptcha.textproducer.font.names</param-name>
			<param-value>Arial, Courier</param-value>
		</init-param>
		<init-param>
			<description>字体大小 40px.</description>
			<param-name>kaptcha.textproducer.font.size</param-name>
			<param-value>40</param-value>
		</init-param>
		<init-param>
			<description>
				字体颜色，合法值： r,g,b 或者 white,black,blue.
			</description>
			<param-name>kaptcha.textproducer.font.color</param-name>
			<param-value>black</param-value>
		</init-param>
		<init-param>
			<description>文字间隔 2</description>
			<param-name>kaptcha.textproducer.char.space</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<description>干扰实现类</description>
			<param-name>kaptcha.noise.impl</param-name>
			<param-value>
				<!-- com.google.code.kaptcha.impl.NoNoise -->
				com.google.code.kaptcha.impl.DefaultNoise
			</param-value>
		</init-param>
		<init-param>
			<description>
				干扰颜色，合法值： r,g,b 或者 white,black,blue.
			</description>
			<param-name>kaptcha.noise.color</param-name>
			<param-value>black</param-value>
		</init-param>
		<init-param>
			<description>
				图片样式： 水纹com.google.code.kaptcha.impl.WaterRipple
				鱼眼com.google.code.kaptcha.impl.FishEyeGimpy
				阴影com.google.code.kaptcha.impl.ShadowGimpy
			</description>
			<param-name>kaptcha.obscurificator.impl</param-name>
			<param-value>
				com.google.code.kaptcha.impl.WaterRipple
			</param-value>
		</init-param>
		<init-param>
			<description>背景实现类</description>
			<param-name>kaptcha.background.impl</param-name>
			<param-value>
				com.google.code.kaptcha.impl.DefaultBackground
			</param-value>
		</init-param>
		<init-param>
			<description>背景颜色渐变，开始颜色</description>
			<param-name>kaptcha.background.clear.from</param-name>
			<param-value>green</param-value>
		</init-param>
		<init-param>
			<description>背景颜色渐变，结束颜色</description>
			<param-name>kaptcha.background.clear.to</param-name>
			<param-value>white</param-value>
		</init-param>
		<init-param>
			<description>文字渲染器</description>
			<param-name>kaptcha.word.impl</param-name>
			<param-value>
				com.google.code.kaptcha.text.impl.DefaultWordRenderer
			</param-value>
		</init-param>
		<init-param>
			<description>
				session中存放验证码的key键
			</description>
			<param-name>kaptcha.session.key</param-name>
			<param-value>KAPTCHA_SESSION_KEY</param-value>
		</init-param>
		<init-param>
			<description>
				The date the kaptcha is generated is put into the
				HttpSession. This is the key value for that item in the
				session.
			</description>
			<param-name>kaptcha.session.date</param-name>
			<param-value>KAPTCHA_SESSION_DATE</param-value>
		</init-param>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JdbcSqlServlet_2</servlet-name>
    <servlet-class>com.imooc.page.servlet.JdbcSqlServlet_2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JdbcSqlServlet_9_2</servlet-name>
    <servlet-class>com.imooc.page.servlet.JdbcSqlServlet_9_2</servlet-class>
  </servlet>

	<servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.imooc.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet_2</servlet-name>
    <servlet-class>com.imooc.servlet.DownloadServlet_2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet_9_2</servlet-name>
    <servlet-class>com.imooc.servlet.DownloadServlet_9_2</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>Kaptcha</servlet-name>
		<url-pattern>/randomcode.jpg</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>JdbcSqlServlet_2</servlet-name>
    <url-pattern>/jdbcSql/JdbcSqlServlet_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JdbcSqlServlet_9_2</servlet-name>
    <url-pattern>/jdbcSql/JdbcSqlServlet_9_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/jdbcSql/downloadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet_2</servlet-name>
    <url-pattern>/jdbcSql/downloadServlet_2.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet_9_2</servlet-name>
    <url-pattern>/jdbcSql/downloadServlet_9_2.do</url-pattern>
  </servlet-mapping>
</web-app>
